.tittle {
    width: 1000px;
    color: blue;
    text-align: center;
    background-color: red;
}

.list {
    color: aqua;
    text-align: center;
    background-color: blue;
}

.Minceraft {
    color: orange;
}

.Terraria {
    color: orange;
}

.Roblox {
    color: orange;
}